* {
  box-sizing: border-box;
}
:root {
  --golden-color: #d1c286;
  --black-color: #000;
  --grey-dark: #303030;
  --grey-middle: #828282;
  --grey-light: #efefef;
  --white-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--grey-middle);
}
body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* NAVIGATION */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}
.nav,
footer {
  padding: 18px 0;
  background: var(--white-color);
  background-color: var(--grey-light);
}

.nav .container,
footer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav #nav-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", Arial, sans-serif;
}
.nav #nav-logo a:hover {
  color: var(--golden-color);
}
.nav a {
  position: relative;
  padding: 5px 10px;
  color: var(--black-color);
  text-decoration: none;
  transition: 0.5s;
}

nav a.cart span small {
  position: absolute;
  top: -7px;
  right: -5px;
  padding: 10px 6px;
  line-height: 0;
  background: var(--golden-color);
  color: var(--white-color);
  border-radius: 50%;
  font-family: "Montserrat";
  font-size: 9px;
  letter-spacing: 0.5px;
}
/* Navigation ends here */
/* Product description */
.welcome-catalog {
  text-align: center;
  max-width: 75ch;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: 110px;
}
.welcome-catalog span {
  margin-top: 60px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", Arial, sans-serif;
}

.welcome-catalog h1 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--black-color);
}
.welcome-catalog p {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--grey-middle);
}
/* Product description ends here */
/* Books grid starts here */
.books {
  margin-top: 80px;
  margin-bottom: 60px;
}
.books .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  text-align: center;
}
@media only screen and (min-width: 481px) and (max-width: 961px) {
  .books .container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
@media (max-width: 480px) {
  .books .container {
    grid-template-columns: 1fr;
  }
}
.books .container .book img {
  width: 200px;
  cursor: pointer;
}

.books .container .book-img {
  position: relative;
  overflow: hidden;
}

.books .container .book-actions {
  position: absolute;
  bottom: 0;
  left: -2px;
  right: -2px;
  height: 40px;
  background: var(--white-color);
  transform: translateY(100%) translateZ(0);
}

.books .container .book:hover .book-actions {
  transform: translateY(0%) translateZ(0);
  transition: transform 0.2s ease-in-out;
  padding-top: 5px;
}

.book-actions .btn {
  margin-right: 12px;
  color: var(--grey-middle);
}

.book-actions .btn:hover {
  color: var(--golden-color);
}

.book .book-info {
  max-width: 200px;
  margin: 0 auto;
}

.book .book-info h2,
.book .book-info p {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
}

.book .book-info h2 {
  letter-spacing: 1px;
}
.book .book-info p {
  letter-spacing: 2px;
  transition: all 0.5ms;
}

.book .book-info p:last-child:hover {
  color: var(--black-color);
}
/* Books grid ends here */

/* Footer starts here */
footer #nav-logo a {
  font-family: "Montserrat", Arial, sans-serif;
  text-decoration: none;
  color: var(--grey-middle);
}

footer #nav-logo a:hover {
  color: var(--golden-color);
}
/* Footer ends here */
/* FORM FOR ORDER  */
@import url("https://fonts.googleapis.com/css?family=Arimo");

.wrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.form-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", Arial, sans-serif;
  background: linear-gradient(30deg, #ffffff, #d1c286ec);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.form-container {
  width: 65%;
  padding: 5% 10%;
}

h2 {
  align-self: center;
}

form {
  width: 100%;
}
form > * {
  margin-top: 20px;
}
form input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-family: "Montserrat", Arial, sans-serif;
  margin-top: 5px;
  padding-left: 10px;
  color: var(--grey-dark);
  border-radius: 4px;
}

input.custom {
  width: 25px;
  text-align: left;
}

form label,
form p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--grey-dark);
}

form h2 {
  font-size: 24px;
  line-height: 10px;
  color: var(--grey-dark);
  letter-spacing: 1px;
}

form h2:nth-of-type(2) {
  margin-top: 10%;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}

.address-info div {
  width: 40%;
}

.btns {
  text-align: center;
}

.btns button,
.order-btn {
  cursor: pointer;
  margin: 3px 0;
  height: 30px;
  padding: 0 18px;
  color: var(--grey-light);
  background-color: var(--grey-dark);
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.btns button:hover,
.order-btn:hover {
  color: var(--grey-dark);
  background-color: var(--grey-light);
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  .wrapper {
    width: 75%;
  }

  .form-container {
    width: 100%;
  }

  .btns {
    align-items: center;
  }

  .btns button {
    width: 50%;
  }

  form h2 {
    text-align: center;
  }

  .name,
  .address-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .name div,
  .address-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .street {
    text-align: center;
  }

  input {
    margin: 5px 0;
    min-height: 30px;
  }

  form .custom {
    width: 30%;
  }
}

fieldset {
  border: 1px solid var(--grey-dark);
}

legend {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--grey-dark);
}

.form__radios {
  display: flex;
}

.form__radio {
  margin: auto;
  text-align: center;
}

/* Gifts */
.card__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media only screen and (max-width: 480px) {
  .card__group {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.hidden {
  display: none;
}

/* FORM FOR ORDER ends here */

/* MODAL WINDOW starts here*/
#modal-window {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  max-width: 60ch;
  max-height: 80vh;
  background: linear-gradient(30deg, #ffffff, #d1c286ec);

  padding: 15px 60px;
  border-radius: 10px;
}
#modal-window .modal-body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--grey-dark);
  line-height: 1.8;
  margin: 0;
  margin-bottom: 40px;
  padding-right: 14px;
  overflow: auto;
}

#modal-window .modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--grey-middle);
}

#modal-window .modal-body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--grey-middle);
}

#modal-window .modal-body::-webkit-scrollbar-thumb {
  background-color: var(--grey-light);
}

#modal-window a {
  margin-left: auto;
  text-decoration: none;
  color: var(--grey-dark);
  font-size: 35px;
  cursor: pointer;
}
#modal-window a:hover {
  color: var(--grey-light);
}

#modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
  z-index: 30;
}

@media only screen and (min-width: 481px) and (max-width: 961px) {
  #modal-window {
    padding: 20px 50px;
    width: 90vw;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  #modal-window {
    padding: 10px 36px;
    gap: 10px;
    width: 85vw;
  }
  #modal-window .modal-body {
    line-height: 1.6;
  }
}
/* MODAL WINDOW ends here */
/* Sidebar Window starts here */
#sidebar-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  width: 35%;
  height: calc(100vh - 70px);
  padding: 40px;
  padding-top: 20px;
  position: fixed;
  top: 70px;
  right: 0;
  background: linear-gradient(30deg, #ffffff, #d1c286ec);
  color: var(--grey-dark);
  font-family: "Montserrat";
}
#sidebar-window .close-modal-btn {
  margin-left: auto;
  margin-bottom: 10px;
}

.products {
  overflow: auto;
}
.product-item {
  display: flex;
  border-bottom: 1px solid #0000001f;
  padding-bottom: 12px;
  padding-top: 12px;
}
.product-item .summary-info {
  margin-right: 20px;
}
.product-item:first-child {
  padding-top: 0;
}
.product-item .summary-info p:first-child {
  font-weight: 600;
}
.product-item .summary-info p {
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
}
.product-item .remove-btn {
  cursor: pointer;
  margin-left: auto;
  margin-right: 16px;
  height: 30px;
  color: var(--grey-dark);
  background-color: var(--grey-light);
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 1px;
}
/* Sidebar Window ends here */

.product-item .remove-btn:hover {
  color: var(--grey-light);
  background-color: var(--grey-dark);
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

#sidebar-window a {
  margin-left: auto;
  text-decoration: none;
  color: var(--grey-dark);
  font-size: 25px;
  cursor: pointer;
}
#sidebar-window a:hover {
  color: var(--grey-light);
}
.checkout {
  display: flex;
  align-items: center;
  gap: 45px;
}

/* Increase decrease btns  */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 3rem;
  padding: 0.5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 0.8rem;
  height: 1.4rem;
  font-weight: bold;
  text-align: center;
}
